#page {
    position: relative;
    min-height: 95vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    margin-bottom: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 2.5rem;
}