.gameArea {
    text-align: center;
    padding: 0em 1em;
    font-size: large;
    width: 1fr;
    min-width: 30%;
}
.game {
    padding: 0em 3em;
}
.scoreInputs {
    justify-content: space-between;
    width:100%;
    text-align: left;
}
.inputScore {
   width: 100%;
}
.roundScoreInput {
    margin-top: .5em;
}

.currentGameStats {
    text-align: center;
}