.leaderboard {
    font-size: large;
    border: 2px solid navy;
    
}
.leaderboardHeaders {
    border-bottom: 1px solid navy;
}
td {
    padding-top:3px;
    border-bottom: 1px solid navy;
    padding-left:10px;
    text-align: left;
    
}
th{
    text-align: center;

}
table {
    border-collapse: collapse;
  }

.score, .playerCount {
    text-align: center;


}

.teamRows {
    height:20em;
    overflow-y:scroll;
    overflow-x: hidden;
    

}

thead, tbody tr {
    display:table;
    table-layout:fixed;
    width: 21em;
}

.leaderboardTeam {
    word-wrap: break-word;
}