@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url("./inputForms.css");
@import url("./leaderBoard.css");
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url("./gameArea.css");

/*Typography
--------------------------------------------------------------*/
body,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

#container{
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
}

@media screen and (max-width:1000px) {
  #container {
    flex-direction: column;
    
  }
  .gameArea {
    order: -1;
    padding-bottom: 2em;
  }
}

h2 {
  text-align: center;
}

h1 {
  font-family: "MedievalSharp", Arial, Helvetica, sans-serif;
  font-size: 3em;
  margin-top: .5em;
}